BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4

PointerAlignment: Right
ReferenceAlignment: Right

ColumnLimit: 88

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: false
AlwaysBreakTemplateDeclarations: true

IndentCaseLabels: false

IndentPPDirectives: AfterHash

NamespaceIndentation: None
FixNamespaceComments: true
SeparateNamespaceBlocks: Always

BinPackArguments: false
BinPackParameters: false

AlignAfterOpenBracket: DontAlign
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: AfterColon
AlignOperands: false

PenaltyBreakBeforeFirstCallParameter: 50 # default: 19
PenaltyBreakAssignment: 10 # default: 2
PenaltyBreakBeforeBinaryOperators: 1 # default 50
PenaltyBreakAfterReturnType: 60 # default: 60
PenaltyReturnTypeOnItsOwnLine: 200 # default: 200
PenaltyBreakString: 1000 # default: 1000
PenaltyExcessCharacter: 5 # default: 100