[submodule "deps/cfitsio"]
	path = deps/cfitsio
	url = https://github.com/HEASARC/cfitsio.git
[submodule "deps/libpng"]
	path = deps/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "deps/FTXUI"]
	path = deps/FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI.git
[submodule "deps/SDL2"]
	path = deps/SDL2
	url = https://github.com/libsdl-org/SDL.git
