name: tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  VERBOSE: 1

jobs:
  build-multi-distro:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        image:
          - { name: "ubuntu:22.04", install: "apt-get update && apt-get install -y cmake g++ gfortran  libpng-dev libreadline-dev pkg-config binutils" }
          - { name: "ubuntu:24.04", install: "apt-get update && apt-get install -y cmake g++ gfortran  libpng-dev libreadline-dev pkg-config binutils" }
          - { name: "debian:trixie", install: "apt-get update && apt-get install -y cmake g++ gfortran  libpng-dev libreadline-dev pkg-config binutils" }
          - { name: "debian:bookworm", install: "apt-get update && apt-get install -y cmake g++ gfortran  libpng-dev libreadline-dev pkg-config binutils" }
          - { name: "fedora:42", install: "dnf install -y dnf install cmake g++ gfortran libpng-devel readline-devel pkg-config which binutils" }
          - { name: "fedora:43", install: "dnf install -y dnf install cmake g++ gfortran libpng-devel readline-devel pkg-config which binutils" }
    container:
      image: ${{ matrix.image.name }}
    name: Build on ${{ matrix.image.name }}
    env:
      CC: "gcc"
      CXX: "g++"
      FC: "gfortran"
    steps:
      - name: Install build dependencies
        run: ${{ matrix.image.install }} wget git curl && gcc --version
  
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
  
      - name: Download test data
        run: |
          scripts/get_test_data.sh
          echo "PATH=$PATH:/opt/aquila/bin" >> "$GITHUB_ENV"

      - name: Build and install the app
        run: |
          mkdir -p build
          rm -rf build/*
          cd build
          cmake -DCMAKE_BUILD_TYPE=Debug -DOPENMP=Off ..
          cmake --build .
          cmake --install .

      - name: Run unit tests
        run: |
          cd build
          ctest . --output-on-failure

      # - name: Debug gh actions
      #   run: |
      #     ls -l /opt/aquila/bin/aq2
      #     ldd /opt/aquila/bin/aq2
      #     readelf -d /opt/aquila/bin/aq2 | grep -E 'RPATH|RUNPATH'
      #     ldd /opt/aquila/lib*/aquila/libaquila.so
      #     readelf -d /opt/aquila/lib*/aquila/libaquila.so | grep -E 'RPATH|RUNPATH'

      - name: Run integration test on example data
        run: |
          mkdir testrun
          cd testrun
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

      - name: Build and install the app (release, no OpenMP)
        run: |
          mkdir -p build
          rm -rf build/*
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DOPENMP=Off ..
          cmake --build .
          cmake --install .

      - name: Run unit tests
        run: |
          cd build
          ctest . --output-on-failure

      - name: Run integration test on example data (release, no OpenMP)
        run: |
          mkdir testrun2
          cd testrun2
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

      - name: Build and install the app (release, OpenMP)
        run: |
          mkdir -p build
          rm -rf build/*
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DOPENMP=On ..
          cmake --build .
          cmake --install .

      - name: Run unit tests
        run: |
          cd build
          ctest . --output-on-failure

      - name: Run integration test on example data (release, OpenMP)
        run: |
          mkdir testrun3
          cd testrun3
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

      - name: Make sure C header builds
        run: |
          cd build
          echo '# include "../src/c_binding/aquila.h"' > testhdr.c
          echo 'void foo() {}' >> testhdr.c
          ${CC} -c -Wall testhdr.c

  oneapi:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        oneapi-ver: ["2025.3", "2025.2", "2025.1"]
    name: oneapi ${{ matrix.oneapi-ver }}
    env:
      CC: "icx"
      CXX: "icpx"
      FC: "ifx"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install oneapi
        run: |
          sudo apt-get update
          sudo apt-get install -y gpg gpg-agent wget git curl cmake
          wget -O- https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB \
            | gpg --dearmor | sudo tee /usr/share/keyrings/oneapi-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/oneapi-archive-keyring.gpg] " \
            " https://apt.repos.intel.com/oneapi all main" \
            | sudo tee /etc/apt/sources.list.d/oneAPI.list
          sudo apt-get update && sudo apt-get install -y --no-install-recommends \
            intel-oneapi-compiler-fortran-${{ matrix.oneapi-ver }} \
            intel-oneapi-compiler-dpcpp-cpp-${{ matrix.oneapi-ver }} 

      - name: Install build dependencies
        run: sudo apt-get install -y  libpng-dev libgnutls30 libreadline-dev

      - name: Download test data
        run: |
          scripts/get_test_data.sh
          echo "PATH=$PATH:/opt/aquila/bin" >> "$GITHUB_ENV"

      - name: Build and install the app
        run: |
          source /opt/intel/oneapi/setvars.sh
          export CFLAGS="-O0 -g"
          export CXXFLAGS="-O0 -g"
          export FFLAGS="-O0 -g -check all -heap-arrays"
          
          mkdir -p build
          rm -rf build/*
          cd build
          cmake ..
          cmake --build .
          sudo cmake --install .
  
      - name: Run unit tests
        run: |
          source /opt/intel/oneapi/setvars.sh
          cd build
          ctest . --output-on-failure

      - name: Run integration test on example data
        run: |
          source /opt/intel/oneapi/setvars.sh
          mkdir testrun
          cd testrun
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

      - name: Build and install the app (release, no OpenMP)
        run: |
          source /opt/intel/oneapi/setvars.sh
          export CFLAGS="-O3 -fp-model=fast -g1 -DNDEBUG"
          export CXXFLAGS="-O3 -fp-model=fast -g1 -DNDEBUG"
          export FFLAGS="-O3 -fp-model=fast -g1 -traceback -heap-arrays -DNDEBUG"
          
          mkdir -p build
          rm -rf build/*
          cd build
          cmake ..
          cmake --build .
          sudo cmake --install .
    
      - name: Run unit tests
        run: |
          source /opt/intel/oneapi/setvars.sh
          cd build
          ctest . --output-on-failure

      - name: Run integration test on example data (release, no OpenMP)
        run: |
          source /opt/intel/oneapi/setvars.sh
          mkdir testrun2
          cd testrun2
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

      - name: Build and install the app (release, OpenMP)
        run: |
          source /opt/intel/oneapi/setvars.sh
          export CFLAGS="-O3 -fp-model=fast -g1 -DNDEBUG"
          export CXXFLAGS="-O3 -fp-model=fast -g1 -DNDEBUG"
          export FFLAGS="-O3 -fp-model=fast -g1 -traceback -heap-arrays -DNDEBUG"
          
          mkdir -p build
          rm -rf build/*
          cd build
          cmake -DOPENMP=On ..
          cmake --build .
          sudo cmake --install .
    
      - name: Run unit tests
        run: |
          source /opt/intel/oneapi/setvars.sh
          cd build
          ctest . --output-on-failure

      - name: Run integration test on example data (release, OpenMP)
        run: |
          source /opt/intel/oneapi/setvars.sh
          mkdir testrun3
          cd testrun3
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

      - name: Make sure C header builds
        run: |
          source /opt/intel/oneapi/setvars.sh
          cd build
          echo '# include "../src/c_binding/aquila.h"' > testhdr.c
          echo 'void foo() {}' >> testhdr.c
          ${CC} -c -Wall testhdr.c

  flang:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        llvm-ver: [20]

    name: flang ${{ matrix.llvm-ver }}
    env:
      CC: clang-${{ matrix.llvm-ver }}
      CXX: clang-${{ matrix.llvm-ver }}
      FC: flang-new-${{ matrix.llvm-ver }}
      LDFLAGS: "-lstdc++ -lm -lpthread"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install flang ${{ matrix.llvm-ver }}
        run: |
          export DEBIAN_FRONTEND=noninteractive
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            gnupg \
            lsb-release \
            ca-certificates \
            curl \
            gnupg2 \
            apt-transport-https cmake
          curl -fsSL https://apt.llvm.org/llvm-snapshot.gpg.key | sudo tee /etc/apt/trusted.gpg.d/llvm.asc >/dev/null
          echo "deb [signed-by=/etc/apt/trusted.gpg.d/llvm.asc] http://apt.llvm.org/noble/ llvm-toolchain-noble-${{ matrix.llvm-ver }} main" \
            | sudo tee /etc/apt/sources.list.d/llvm.list >/dev/null
          sudo apt-get update
          sudo apt-get install -y clang-${{ matrix.llvm-ver }} flang-${{ matrix.llvm-ver }} \
            libomp-${{ matrix.llvm-ver }}-dev

      - name: Install build dependencies
        run: sudo apt-get install -y  libpng-dev libgnutls30 libreadline-dev

      - name: Download test data
        run: |
          scripts/get_test_data.sh
          echo "PATH=$PATH:/opt/aquila/bin" >> "$GITHUB_ENV"

      - name: Build and install the app
        run: |
          export CFLAGS="-O0 -g"
          export CXXFLAGS="-O0 -g"
          export FFLAGS="-O0 -g"
          
          mkdir -p build
          rm -rf build/*
          cd build
          cmake ..
          cmake --build .
          sudo cmake --install .

      - name: Run unit tests
        run: |
          cd build
          ctest . --output-on-failure

      - name: Run integration test on example data
        run: |
          mkdir testrun
          cd testrun
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

      - name: Build and install the app (release, no OpenMP)
        run: |
          export CFLAGS="-O3 -ffast-math -g1 -DNDEBUG"
          export CXXFLAGS="-O3 -ffast-math -g1 -DNDEBUG"
          export FFLAGS="-O3 -ffast-math -g1 -DNDEBUG"
          
          mkdir -p build
          rm -rf build/*
          cd build
          cmake ..
          cmake --build .
          sudo cmake --install .
  
      - name: Run unit tests
        run: |
          cd build
          ctest . --output-on-failure

      - name: Run integration test on example data (release, no OpenMP)
        run: |
          mkdir testrun2
          cd testrun2
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

      - name: Build and install the app (release, OpenMP)
        run: |
          export CFLAGS="-O3 -ffast-math -g1 -DNDEBUG"
          export CXXFLAGS="-O3 -ffast-math -g1 -DNDEBUG"
          export FFLAGS="-O3 -ffast-math -g1 -DNDEBUG"
          
          mkdir -p build
          rm -rf build/*
          cd build
          cmake -DOPENMP=On ..
          cmake --build .
          sudo cmake --install .

      - name: Run unit tests
        run: |
          cd build
          ctest . --output-on-failure
          
      - name: Run integration test on example data (release, OpenMP)
        run: |
          mkdir testrun3
          cd testrun3
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

      - name: Make sure C header builds
        run: |
          cd build
          echo '# include "../src/c_binding/aquila.h"' > testhdr.c
          echo 'void foo() {}' >> testhdr.c
          ${CC} -c -Wall testhdr.c