name: Make release on tag push and build .deb packages

on:
  push:
    tags:
      - '*'


jobs:

  build-deb:
    name: Build .deb package
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        - os: ubuntu
          osver: "24.04"
          deps: libcfitsio10, libpng16-16, libreadline8t64, libgomp1, libgfortran5
        - os: ubuntu
          osver: "22.04"
          deps: libcfitsio9, libpng16-16, libreadline8, libgomp1, libgfortran5
    container:
      image: ${{ matrix.os }}:${{ matrix.osver }}

    steps:
      - name: Install tools
        run: apt-get update && apt-get install -y cmake g++ gfortran libcfitsio-dev libpng-dev libreadline-dev pkg-config wget git curl

      - name: Checkout (with submodules)
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Environment
        run: echo "PACKAGE_NAME=aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64" >> "$GITHUB_ENV"

      - name: Build and install the app
        run: |
          rm -rf build
          cd build
          cmake .. -DCMAKE_INSTALL_PREFIX=${PWD}/deb-package/${PACKAGE_NAME}/usr \
            -DOPENMP=On \
            -DCMAKE_C_FLAGS="-O3 -ffast-math -g1" \
            -DCMAKE_CXX_FLAGS="-O3 -ffast-math -g1" \
            -DCMAKE_Fortran_FLAGS="-O3 -funsafe-math-optimizations -g1"
          cmake --build . --verbose
          cmake --install .

      - name: Create deb package
        run: |
          cd build/deb-package
          cp -r ../../packaging/deb/DEBIAN ${PACKAGE_NAME}/
          sed -i "s/___VERSION___/${{ github.ref_name }}/g" ${PACKAGE_NAME}/DEBIAN/control
          sed -i "s/___DEPS___/${{ matrix.deps }}/g" ${PACKAGE_NAME}/DEBIAN/control
          sed -i "s/___ARCH___/amd64/g" ${PACKAGE_NAME}/DEBIAN/control
          dpkg-deb --build ${PACKAGE_NAME}
  
      - name: Upload .deb artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${PACKAGE_NAME}"
          path: build/deb-package/${PACKAGE_NAME}.deb

  test-deb:
    name: Test .deb package
    needs: build-deb
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        - os: ubuntu
          osver: "24.04"
        - os: ubuntu
          osver: "22.04"
    container:
      image: ${{ matrix.os }}:${{ matrix.osver }}

    steps:
      - name: Install tools
        run: |
          apt-get update
          apt-get install -y wget git curl gzip tar
          
      - name: Checkout (with submodules)
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Environment
        run: echo "PACKAGE_NAME=aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64" >> "$GITHUB_ENV"

      - name: Download .deb artifact
        uses: actions/download-artifact@v4
        with:
          name: "${PACKAGE_NAME}"

      - name: Install the package
        run: |
          apt update
          apt-get install -y ./${PACKAGE_NAME}.deb
  
      - name: Download test data
        run: scripts/get_test_data.sh

      - name: Run integration test on example data
        run: |
          mkdir testrun
          cd testrun
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

  release:
    name: Automated release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        - os: ubuntu
          osver: "24.04"
        - os: ubuntu
          osver: "22.04"
    needs: test-deb
    steps:
  
      - name: Environment
        run: echo "PACKAGE_NAME=aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64" >> "$GITHUB_ENV"

      - uses: actions/download-artifact@v4
        with:
          name: "${PACKAGE_NAME}"

      - uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Version ${{ github.ref_name }}
          body: Automated release
          files: "${PACKAGE_NAME}.deb"