name: Make release on tag push and build .deb packages

on:
  push:
    tags:
      - '*'


jobs:

  build-deb:
    name: Build .deb package
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        include:
          - os: ubuntu
            osver: "24.04"
            deps: libcfitsio10, libpng16-16, libreadline8t64, libgomp1, libgfortran5
          - os: ubuntu
            osver: "22.04"
            deps: libcfitsio9, libpng16-16, libreadline8, libgomp1, libgfortran5
    container:
      image: ${{ matrix.os }}:${{ matrix.osver }}

    steps:
      - name: Install tools
        run: apt-get update && apt-get install -y cmake g++ gfortran libcfitsio-dev libpng-dev libreadline-dev pkg-config wget git curl

      - name: Checkout (with submodules)
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Environment
        run: echo "PACKAGE_NAME=aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64" >> "$GITHUB_ENV"

      - name: Build and install the app
        run: |
          mkdir -p build
          rm -rf build/*
          cd build
          cmake .. -DCMAKE_INSTALL_PREFIX=${PWD}/deb-package/${PACKAGE_NAME}/usr \
            -DOPENMP=On \
            -DCMAKE_C_FLAGS="-O3 -ffast-math -g1" \
            -DCMAKE_CXX_FLAGS="-O3 -ffast-math -g1" \
            -DCMAKE_Fortran_FLAGS="-O3 -funsafe-math-optimizations -g1"
          cmake --build . --verbose
          cmake --install .

      - name: Create deb package
        run: |
          cd build/deb-package
          cp -r ../../packaging/deb/DEBIAN ${PACKAGE_NAME}/
          sed -i "s/___VERSION___/${{ github.ref_name }}/g" ${PACKAGE_NAME}/DEBIAN/control
          sed -i "s/___DEPS___/${{ matrix.deps }}/g" ${PACKAGE_NAME}/DEBIAN/control
          sed -i "s/___ARCH___/amd64/g" ${PACKAGE_NAME}/DEBIAN/control
          dpkg-deb --build ${PACKAGE_NAME}
  
      - name: Upload .deb artifact
        uses: actions/upload-artifact@v4
        with:
          name: "aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64"
          path: build/deb-package/aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64.deb

  test-deb:
    name: Test .deb package
    needs: build-deb
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        include:
          - os: ubuntu
            osver: "24.04"
          - os: ubuntu
            osver: "22.04"
    container:
      image: ${{ matrix.os }}:${{ matrix.osver }}

    steps:
      - name: Install tools
        run: |
          apt-get update
          apt-get install -y wget git curl gzip tar
          
      - name: Checkout (with submodules)
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Download .deb artifact
        uses: actions/download-artifact@v4
        with:
          name: "aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64"

      - name: Install the package
        run: |
          apt update
          apt-get install -y ./aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64.deb
  
      - name: Download test data
        run: scripts/get_test_data.sh

      - name: Run integration test on example data
        run: |
          mkdir testrun
          cd testrun
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

  release:
    name: Automated release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - os: ubuntu
            osver: "24.04"
          - os: ubuntu
            osver: "22.04"
    needs: test-deb
    steps:
  
      - uses: actions/download-artifact@v4
        with:
          name: "aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64"

      - name: Ensure release exists
        run: |
          # check if release exists
          if ! gh release view $GITHUB_REF_NAME >/dev/null 2>&1; then
            gh release create $GITHUB_REF_NAME \
              -t "Version $GITHUB_REF_NAME" \
              -n "Automated release"
          fi

      - name: Upload artifact
        run: |
          gh release upload $GITHUB_REF_NAME \
            "aquila-${GITHUB_REF_NAME}-${{ matrix.os }}-${{ matrix.osver }}-amd64.deb" \
            --clobber