name: Make release on tag push and build .deb packages

on:
  push:
    tags:
      - '*'

jobs:
  build-deb:
    name: Build .deb package
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        include:
          - {os: "ubuntu", osver: "24.04"}
          - {os: "ubuntu", osver: "22.04"}
          - {os: "debian", osver: "bookworm"}
          - {os: "debian", osver: "trixie"}
    container:
      image: ${{ matrix.os }}:${{ matrix.osver }}

    steps:
      - name: Install tools
        run: |
          if [ ${{ matrix.os }} == ubuntu ]; then
            apt-get update && apt-get install -y git curl wget ca-certificates
          elif [ ${{ matrix.os }} == debian ]; then
            apt-get update && apt-get install -y git curl wget ca-certificates
          else
            echo "Unknown os"
            exit 1
          fi

      - name: Checkout (with submodules)
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup
        run: |
          echo "PACKAGE_NAME=aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64" >> "$GITHUB_ENV"
          echo "PATH=$PATH:/opt/aquila/bin" >> "$GITHUB_ENV"
          bash packaging/${{ matrix.os }}/setup.sh

      - name: Build and install the app
        run: |
          mkdir -p build
          rm -rf build/*
          cd build
          cmake .. \
            -DCMAKE_INSTALL_PREFIX=${PWD}/deb-package/${PACKAGE_NAME}/usr \
            -DCMAKE_BUILD_TYPE=Release -DOPENMP=On 
          cmake --build .
          cmake --install .
          cpack .
          mv aquila-${{ github.ref_name }}-Linux.tar.gz ${PACKAGE_NAME}.tar.gz 

      - name: Create deb package
        run: |
          . packaging/${{ matrix.os }}/${{ matrix.osver }}/vars.sh
          cd build/deb-package
          cp -r ../../packaging/deb/DEBIAN ${PACKAGE_NAME}/
          sed -i "s/___VERSION___/${{ github.ref_name }}/g" ${PACKAGE_NAME}/DEBIAN/control
          sed -i "s/___DEPS___/${DEPS}/g" ${PACKAGE_NAME}/DEBIAN/control
          sed -i "s/___ARCH___/amd64/g" ${PACKAGE_NAME}/DEBIAN/control
          dpkg-deb --build ${PACKAGE_NAME}
  
      - name: Upload .deb artifact
        uses: actions/upload-artifact@v4
        with:
          name: "aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64-deb"
          path: build/deb-package/aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64.deb
   
      - name: Upload .tar.gz artifact
        uses: actions/upload-artifact@v4
        with:
          name: "aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64-tgz"
          path: build/aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64.tar.gz

  test-deb:
    name: Test .deb package
    needs: build-deb
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        include:
          - {os: "ubuntu", osver: "24.04"}
          - {os: "ubuntu", osver: "22.04"}
          - {os: "debian", osver: "bookworm"}
          - {os: "debian", osver: "trixie"}
    container:
      image: ${{ matrix.os }}:${{ matrix.osver }}

    steps:
      - name: Install tools
        run: |
          apt-get update
          apt-get install -y wget git curl gzip tar
          
      - name: Checkout (with submodules)
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Download .deb artifact
        uses: actions/download-artifact@v4
        with:
          name: "aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64-deb"

      - name: Install the package
        run: |
          apt update
          apt-get install -y ./aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64.deb
          echo "PATH=$PATH:/opt/aquila/bin" >> "$GITHUB_ENV"
  
      - name: Download test data
        run: scripts/get_test_data.sh

      - name: Run integration test on example data
        run: |
          mkdir testrun
          cd testrun
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

  test-tgz:
    name: Test .tar.gz package
    needs: build-deb
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        include:
          - {os: "ubuntu", osver: "24.04"}
          - {os: "ubuntu", osver: "22.04"}
          - {os: "debian", osver: "bookworm"}
          - {os: "debian", osver: "trixie"}
    container:
      image: ${{ matrix.os }}:${{ matrix.osver }}

    steps:
      - name: Install tools
        run: |
          apt-get update
          apt-get install -y wget git curl gzip tar
          
      - name: Checkout (with submodules)
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install deps
        run: |
          . packaging/${{ matrix.os }}/${{ matrix.osver }}/vars.sh
          apt-get install -y $(echo $DEPS | sed 's/,/ /g')

      - name: Download .tgz artifact
        uses: actions/download-artifact@v4
        with:
          name: "aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64-tgz"

      - name: Install the package
        run: |
          tar xzfv aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64.tar.gz
          echo "PATH=$PATH:$PWD/aquila-${{ github.ref_name }}-Linux/bin" >> "$GITHUB_ENV"
  
      - name: Download test data
        run: scripts/get_test_data.sh

      - name: Run integration test on example data
        run: |
          mkdir testrun
          cd testrun
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

  release:
    name: Automated release
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        include:
          - {os: "ubuntu", osver: "24.04"}
          - {os: "ubuntu", osver: "22.04"}
          - {os: "debian", osver: "bookworm"}
          - {os: "debian", osver: "trixie"}
    needs: 
      - test-deb
      - test-tgz
    env:
      GH_TOKEN: ${{ github.token }}
    steps:

      - name: Checkout (with submodules)
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/download-artifact@v4
        with:
          name: "aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64-deb"

      - uses: actions/download-artifact@v4
        with:
          name: "aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64-tgz"

      - name: Ensure release exists
        run: |
          # check if release exists
          if ! gh release view ${{ github.ref_name }} >/dev/null 2>&1; then
            gh release create ${{ github.ref_name }} \
              -t "Aquila v.${{ github.ref_name }}" \
              -n "Download packages for your Linux distribution here!" \
              --draft=false
          fi

      - name: Upload artifact
        run: |
          gh release upload ${{ github.ref_name }} \
            "aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64.deb" \
            --clobber
          gh release upload ${{ github.ref_name }} \
            "aquila-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.osver }}-amd64.tar.gz" \
            --clobber