name: tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:

  gfortran:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        gcc-ver: [14]
    name: gfortran ${{ matrix.gcc-ver }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install gfortran ${{ matrix.gcc-ver }}
        run: |
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
          sudo apt-get update
          sudo apt-get install -y gfortran-${{ matrix.gcc-ver }}

      - name: Install build dependencies
        run: sudo apt-get install -y libcfitsio-dev libpng-dev libgnutls30 libreadline-dev
  
      - name: Download test data
        run: scripts/get_test_data.sh

      - name: Build and install the app
        run: |
          export CC=gcc-${{ matrix.gcc-ver }} 
          export CXX=g++-${{ matrix.gcc-ver }} 
          export FC=gfortran-${{ matrix.gcc-ver }} 
          
          mkdir -p build
          rm -rf build/*
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Debug -DOPENMP=Off ..
          cmake --build . --verbose
          sudo cmake --install .

      - name: Run integration test on example data
        run: |
          mkdir testrun
          cd testrun
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

      - name: Build and install the app (release, no OpenMP)
        run: |
          export CC=gcc-${{ matrix.gcc-ver }} 
          export CXX=g++-${{ matrix.gcc-ver }} 
          export FC=gfortran-${{ matrix.gcc-ver }} 
          
          mkdir -p build
          rm -rf build/*
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Release -DOPENMP=Off ..
          cmake --build . --verbose
          sudo cmake --install .

      - name: Run integration test on example data (release, no OpenMP)
        run: |
          mkdir testrun2
          cd testrun2
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

      - name: Build and install the app (release, OpenMP)
        run: |
          export CC=gcc-${{ matrix.gcc-ver }} 
          export CXX=g++-${{ matrix.gcc-ver }} 
          export FC=gfortran-${{ matrix.gcc-ver }} 

          mkdir -p build
          rm -rf build/*
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Release -DOPENMP=On ..
          cmake --build . --verbose
          sudo cmake --install .

      - name: Run integration test on example data (release, OpenMP)
        run: |
          mkdir testrun3
          cd testrun3
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

  oneapi:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        oneapi-ver: ["2025.2", "2025.1", "2025.0"]
    name: oneapi ${{ matrix.oneapi-ver }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install oneapi
        run: |
          sudo apt-get update
          sudo apt-get install -y gpg gpg-agent wget git curl cmake
          wget -O- https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB \
            | gpg --dearmor | sudo tee /usr/share/keyrings/oneapi-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/oneapi-archive-keyring.gpg] " \
            " https://apt.repos.intel.com/oneapi all main" \
            | sudo tee /etc/apt/sources.list.d/oneAPI.list
          sudo apt-get update && sudo apt-get install -y --no-install-recommends \
            intel-oneapi-compiler-fortran-${{ matrix.oneapi-ver }} \
            intel-oneapi-compiler-dpcpp-cpp-${{ matrix.oneapi-ver }} 

      - name: Install build dependencies
        run: sudo apt-get install -y libcfitsio-dev libpng-dev libgnutls30 libreadline-dev

      - name: Download test data
        run: scripts/get_test_data.sh

      - name: Build and install the app
        run: |
          source /opt/intel/oneapi/setvars.sh
          export CC=icx
          export CXX=icpx
          export FC=ifx
          export CFLAGS="-O0 -g3"
          export CXXFLAGS="-O0 -g3"
          export FFLAGS="-O0 -g3 -check all -heap-arrays"
          
          mkdir -p build
          rm -rf build/*
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=/usr ..
          cmake --build . --verbose
          sudo cmake --install .
  
      - name: Run integration test on example data
        run: |
          source /opt/intel/oneapi/setvars.sh
          mkdir testrun
          cd testrun
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

      - name: Build and install the app (release, no OpenMP)
        run: |
          source /opt/intel/oneapi/setvars.sh
          export CC=icx
          export CXX=icpx
          export FC=ifx
          export CFLAGS="-O3 -fp-model=fast -g1  -DNDEBUG"
          export CXXFLAGS="-O3 -fp-model=fast -g1  -DNDEBUG"
          export FFLAGS="-O3 -fp-model=fast -g1 -traceback -heap-arrays -DNDEBUG"
          
          mkdir -p build
          rm -rf build/*
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=/usr ..
          cmake --build . --verbose
          sudo cmake --install .
  
      - name: Run integration test on example data (release, no OpenMP)
        run: |
          source /opt/intel/oneapi/setvars.sh
          mkdir testrun2
          cd testrun2
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

      - name: Build and install the app (release, OpenMP)
        run: |
          source /opt/intel/oneapi/setvars.sh
          export CC=icx
          export CXX=icpx
          export FC=ifx
          export CFLAGS="-O3 -fp-model=fast -g1 -qopenmp  -DNDEBUG"
          export CXXFLAGS="-O3 -fp-model=fast -g1 -qopenmp  -DNDEBUG"
          export FFLAGS="-O3 -fp-model=fast -g1 -traceback -heap-arrays -qopenmp  -DNDEBUG"
          
          mkdir -p build
          rm -rf build/*
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=/usr ..
          cmake --build . --verbose
          sudo cmake --install .
  
      - name: Run integration test on example data (release, OpenMP)
        run: |
          source /opt/intel/oneapi/setvars.sh
          mkdir testrun3
          cd testrun3
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

  flang:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        llvm-ver: [20]

    name: flang ${{ matrix.llvm-ver }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install flang ${{ matrix.llvm-ver }}
        run: |
          export DEBIAN_FRONTEND=noninteractive
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            gnupg \
            lsb-release \
            ca-certificates \
            curl \
            gnupg2 \
            apt-transport-https cmake
          curl -fsSL https://apt.llvm.org/llvm-snapshot.gpg.key | sudo tee /etc/apt/trusted.gpg.d/llvm.asc >/dev/null
          echo "deb [signed-by=/etc/apt/trusted.gpg.d/llvm.asc] http://apt.llvm.org/noble/ llvm-toolchain-noble-${{ matrix.llvm-ver }} main" \
            | sudo tee /etc/apt/sources.list.d/llvm.list >/dev/null
          sudo apt-get update
          sudo apt-get install -y clang-${{ matrix.llvm-ver }} flang-${{ matrix.llvm-ver }} \
            libomp-${{ matrix.llvm-ver }}-dev

      - name: Install build dependencies
        run: sudo apt-get install -y libcfitsio-dev libpng-dev libgnutls30 libreadline-dev

      - name: Download test data
        run: scripts/get_test_data.sh

      - name: Build and install the app
        run: |
          export CC=clang-${{ matrix.llvm-ver }}
          export CXX=clang-${{ matrix.llvm-ver }}
          export FC=flang-new-${{ matrix.llvm-ver }}
          export CFLAGS="-O0 -g3"
          export CXXFLAGS="-O0 -g3"
          export FFLAGS="-O0 -g3"
          
          mkdir -p build
          rm -rf build/*
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=/usr ..
          cmake --build . --verbose
          sudo cmake --install .
  
      - name: Run integration test on example data
        run: |
          mkdir testrun
          cd testrun
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

      - name: Build and install the app (release, no OpenMP)
        run: |
          export CC=clang-${{ matrix.llvm-ver }}
          export CXX=clang-${{ matrix.llvm-ver }}
          export FC=flang-new-${{ matrix.llvm-ver }}
          export CFLAGS="-O3 -ffast-math -g1 -DNDEBUG"
          export CXXFLAGS="-O3 -ffast-math -g1 -DNDEBUG"
          export FFLAGS="-O3 -ffast-math -g1 -DNDEBUG"
          
          mkdir -p build
          rm -rf build/*
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=/usr ..
          cmake --build . --verbose
          sudo cmake --install .
  
      - name: Run integration test on example data (release, no OpenMP)
        run: |
          mkdir testrun2
          cd testrun2
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh

      - name: Build and install the app (release, OpenMP)
        run: |
          export CC=clang-${{ matrix.llvm-ver }}
          export CXX=clang-${{ matrix.llvm-ver }}
          export FC=flang-new-${{ matrix.llvm-ver }}
          export CFLAGS="-O3 -ffast-math -g1 -fopenmp -DNDEBUG"
          export CXXFLAGS="-O3 -ffast-math -g1 -fopenmp -DNDEBUG"
          export FFLAGS="-O3 -ffast-math -g1 -fopenmp -DNDEBUG"
          
          mkdir -p build
          rm -rf build/*
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=/usr ..
          cmake --build . --verbose
          sudo cmake --install .
  
      - name: Run integration test on example data (release, OpenMP)
        run: |
          mkdir testrun3
          cd testrun3
          ln -s ../examples
          ln -s ../testdata
          ../scripts/test_routine.sh